doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/01_intro.md
      include ../slides/02_feedback-loops.md
      include ../slides/03_tdd.md
      include ../slides/04_devops.md
      include ../slides/05_outro.md
    include inc/scripts
