body
  font-family "Droid Serif"

h1
h2
h3
  margin-bottom 0
  font-family "Yanone Kaffeesatz"
  font-weight 400

.remark-slide-content
  h1
    font-size 3em
  h2
    font-size 2em
  h3
    font-size 1.6em

.footnote
  position absolute
  bottom 3em

li 
  p
    line-height 1.25em

.red
  color #fa0000

.large
  font-size 2em

a, a > code
  color rgb(249, 38, 114)
  text-decoration none

code
  border-radius 5px
  background #e7e8e2
  
.remark-code
.remark-inline-code
  font-family "Ubuntu Mono"

.remark-code-line-highlighted
  background-color #373832

.pull-left
  float left
  width 47%

.pull-right
  float right
  width 47%

.pull-right ~ p
  clear both

#slideshow 
  .slide 
    .content 
      code
        font-size 0.8em
      pre 
        code
          padding 15px
          font-size 0.9em

.inverse
  color #777872
  background #272822
  text-shadow 0 0 20px #333

.inverse h1
.inverse h2
  line-height 0.8em
  color #f3f3f3

/* Slide-specific styling */

#slide-inverse 
  .footnote
    bottom 12px
    left 20px

#slide-how 
  .slides
    position absolute
    top  151px
    right 140px
    font-size 0.9em

#slide-how 
  .slides 
    h3
      margin-top 0.2em

#slide-how 
  .slides 
    .first
    .second
      width 120px
      height 90px
      padding 1px 20px
      box-shadow 0 0 10px #777
  
#slide-how 
  .slides 
    .first
      position absolute
      z-index 1
      top 20%
      left 20%
      background #fff

#slide-how 
  .slides 
    .second
      position relative
      z-index 0
      background #fff

.remark-code
.remark-inline-code
  font-family "Ubuntu Mono"
  font-size 24px
.small .remark-code
.small .remark-inline-code
  font-size 17px
.medium .remark-code
.medium .remark-inline-code 
  font-size 20px

/* Two-column layout */

.left-column
  float left
  width 20%
  height 92%
  color #777

.left-column 
  h2:last-of-type
  h3:last-child
    color #000
  
.right-column
  float right
  width 75%
  padding-top 1em

.double-stack h1
.double-stack h2
.double-wide h1
.double-wide h2
  float left
  margin-top 1em
  font-size 3em
  text-align left
.double-stack h1
.double-wide h1
  width 70%
.double-wide h1+pre
  float left
  width 100%
.double-stack h2
.double-wide h2
  width 30%
  color #999

.double-wide .leftest
.double-wide .rightest
  float left
  width 48%
.double-wide .leftest
  margin-right:2%
.double-wide .rightest
  margin-left:2%

.double-stack pre
  width 100%
  float left
.double-stack pre+pre
.double-stack p+p
  margin-top 2em

.col
  float left
  min-height 1px
  .img
    width 100%
.col.col-1
    width 10%
.col.col-2
    width 20%
.col.col-3
    width 30%
.col.col-4
    width 40%
.col.col-5
    width 50%
.col.col-6
    width 60%
.col.col-7
    width 70%
.col.col-8
    width 80%
.col.col-9
    width 90%
.col.col-10
    width 100%
.img-80
  img
    width 80%

.full-screen-image
  background-size cover
  color: white;
.full-screen-image.square
  background-size contain

.fit-image
  background-size contain
.fit-image.square
  background-size contain

.new-section
.title
  vertical-align middle
  text-align center
.new-section h1
.title h1
  font-size 4em
  margin-top 0
.title
  .about
    text-align left
    margin-top 20px
  ul
    li
      font-size 2em

.alt-brand 
  color: #e28964;

.sub-section
  vertical-align middle
  text-align center
  h1
    font-size 4em
  h2
    font-size 3em    
  h2:first-child
    color #999
    margin-top 0

.disclaimer
  margin-top 2em

.meme
  vertical-align bottom
  text-align center
  h1 
    font-size 6em
    font-family Impact
    text-transform uppercase
    -webkit-text-stroke 4px black