head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="Tight Feedback Loops With TDD and DevOps"
  meta(name="description" content="Tight Feedback Loops With TDD and DevOps")
  meta(name="author" content="You")
  link(rel="stylesheet", href="css/elusive-icons.css")
  link(rel="stylesheet", href="css/main.css")
